@import "../colors.css";

.btn {
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  padding: 0 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-christi);
  background-color: var(--color-white);
  color: var(--color-cod-gray);
  line-height: 30px;
  display: inline-block;

  &:hover {
    background-color: var(--color-christi);
  }

  &.color {
    color: var(--color-christi);
    font-size: 12px;

    &.red {
      color: var(--color-scarlet);
    }

    &:hover {
      color: var(--color-white);
    }
  }

  &.red {
    border-color: var(--color-scarlet);

    &:hover {
      background-color: var(--color-scarlet);
    }
  }
}
