:root {
    /* http://chir.ag/projects/name-that-color */
    --color-white: #fff;
    --color-black: #000;
    --color-christi: #62A60A;
    --color-cod-gray: #1a1a1a;
    --color-scarlet: #ff1b00;
    --color-concrete: #f2f2f2;
    --color-mariner: #2058D3;
}